@font-face {
    font-family: 'Reswysokr';
    src: url('Reswysokr.woff2') format('woff2'),
        url('Reswysokr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hhenum';
    src: url('Hhenum-Italic.woff2') format('woff2'),
        url('Hhenum-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

